<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.center.springsecurity.dao.SysBlacklistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.auth.center.springsecurity.common.model.SysBlacklist">
        <id column="BLACKLIST_ID" property="blacklistId" />
        <result column="IP" property="ip" />
        <result column="BZ" property="bz" />
        <result column="CTIME" property="ctime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BLACKLIST_ID AS blacklistId, IP AS ip, BZ AS bz, CTIME AS ctime
    </sql>

</mapper>
