<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.center.springsecurity.dao.SysCreatecodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.auth.center.springsecurity.common.model.SysCreatecode">
        <id column="CREATECODE_ID" property="createcodeId" />
        <result column="PACKAGENAME" property="packagename" />
        <result column="OBJECTNAME" property="objectname" />
        <result column="TABLENAME" property="tablename" />
        <result column="FIELDLIST" property="fieldlist" />
        <result column="CREATETIME" property="createtime" />
        <result column="TITLE" property="title" />
        <result column="FHTYPE" property="fhtype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATECODE_ID AS createcodeId, PACKAGENAME AS packagename, OBJECTNAME AS objectname, TABLENAME AS tablename, FIELDLIST AS fieldlist, CREATETIME AS createtime, TITLE AS title, FHTYPE AS fhtype
    </sql>

</mapper>
