<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.center.springsecurity.dao.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.auth.center.springsecurity.common.model.SysMenu">
        <id column="MENU_ID" property="menuId" />
        <result column="MENU_NAME" property="menuName" />
        <result column="MENU_URL" property="menuUrl" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MENU_ORDER" property="menuOrder" />
        <result column="MENU_ICON" property="menuIcon" />
        <result column="MENU_TYPE" property="menuType" />
        <result column="MENU_STATE" property="menuState" />
        <collection column="MENU_ID" property="subMenu" ofType="com.auth.center.springsecurity.common.model.SysMenu" javaType="java.util.ArrayList" select="selectSubMenuById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MENU_ID, MENU_NAME , MENU_URL , PARENT_ID , MENU_ORDER , MENU_ICON  , MENU_TYPE  , MENU_STATE
    </sql>

    <!-- 根据前端页面传入的dept_id，查出所有部门 -->
    <select id="listAllSysMenuQx" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List"/> from sys_menu WHERE PARENT_ID=#{menuId}
    </select>
    <!-- 再递归查询出一级部门下的所有子部门 -->
    <select id="selectSubMenuById" resultMap="BaseResultMap" parameterType="string">
    select <include refid="Base_Column_List"/> from SYS_MENU   where PARENT_ID = #{menuId}
    </select>
</mapper>
