<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.center.springsecurity.dao.SysRoleFhbuttonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.auth.center.springsecurity.common.model.SysRoleFhbutton">
        <id column="RB_ID" property="rbId" />
        <result column="ROLE_ID" property="roleId" />
        <result column="BUTTON_ID" property="buttonId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RB_ID AS rbId, ROLE_ID AS roleId, BUTTON_ID AS buttonId
    </sql>

</mapper>
